# Datasets
*.csv
*.json
*.dat
*.xlsx*
*.XPT

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python & Environments
__pycache__/
*.pyc
venv/
.env

# Machine Learning Saved Models
*.pkl
*.joblib
